<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Powerbuilder</string>
	<key>uuid</key>
	<string>CE4D1D65-A899-4EB0-BBDE-4DC35BEDBCFE</string>
</dict>
</plist>
